# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#I DEA Files #
.packages
local.properties
build/
.idea/
test/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#flutter build install file
build

#vim processing file
*.swp
/.flutter-plugins
/.packages
/lib/main_test.dart
.vscode/launch.json

**/android/.gradle

ios/.symlinks
ios/Flutter
ios/Flutter
ios/Pods

lib/pages/hot/hot_page_test.dart
/.flutter-plugins-dependencies
/.dart_tool
/ios/Pods
/ios/Podfile.lock
/ios/Runner.xcworkspace
/ios/Flutter/Flutter.framework
/ios/Flutter/App.framework
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Generated.xcconfig
/ios/.symlinks
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner/GeneratedPluginRegistrant.h
.DS_Store
android/.gradle
android/.gradle
android/.gradle/4.10.2/fileHashes/fileHashes.bin
android/.gradle/4.10.2/fileHashes/fileHashes.lock
android/.gradle/4.10.2/fileHashes/resourceHashesCache.bin
android/.gradle/4.10.2/javaCompile/jarAnalysis.bin
android/.gradle/4.10.2/javaCompile/javaCompile.lock
android/.gradle/4.10.2/javaCompile/taskHistory.bin
android/.gradle/4.10.2/taskHistory/taskHistory.bin
android/.gradle/4.10.2/taskHistory/taskHistory.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/4.10.2
android/.gradle/4.10.2/fileHashes
android/.gradle/4.10.2/javaCompile
android/.gradle/4.10.2/taskHistory
android/.gradle/buildOutputCleanup
.history
lib/pages/home/navigator/tab_navigator_test.dart
android/.gradle/4.10.2/fileHashes/fileHashes.bin
android/.gradle/4.10.2/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
lib/generated/i18n.dart
res/values/strings_en.arb
android/res/values/strings_en.arb
